<!--Add o componente "nova transferencia" no html app component, que é o nosso principal.
    colocando o trecho "(aoTransferir)="transferir($event)" se espera que o evento apareça na tela porque a propriedade "$event" foi transmitida
    para o metodo componente-->

<!--Alternativa correta! Não é obrigatório,
    mas sempre que haja a necessidade de propagação de valores a variável $event deve ser passada como parâmetro para o método em questão.-->

<header>
  <a routerLink="extrato">Bytebank</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova Transferência</a>
</header>

<main>
  <router-outlet></router-outlet>
</main>
